.select-days {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  width: auto;
  padding: 5%;
}

@media only screen and (max-width: 700px) {
  .select-p {
    display: none;
  }

  .select-days {
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
