.coins-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.select-coins-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 3rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  .select-p {
    display: none;
  }

  .select-coins-div {
    padding: 0;
    margin: 0;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .select-coins-div {
    margin: 0;
  }
}
